<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-right">
        <li *ngIf="isAuthenticate">
          <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticate">
          <a  class="nav-link" routerLink="/recipes" >Recipe <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" routerLink="/shopping-list" >Shopping List</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticate" >
          <a class="nav-link" routerLink="/auth" >Authenticate_testsss</a>
        </li>
      
      </ul>
      <div class="dropdown ml-auto" *ngIf="isAuthenticate">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </button>
        <ul class="dropdown-menu" >
          <li><a class="dropdown-item" style="cursor: pointer;"(click)="fetchData()" >Fetch</a></li>
         <li><a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save</a>
         </li> 
        </ul>


      
      </div>
    </div>
  </nav>